<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.AutoCheckConfigMapper" >
    <!-- 根据API编码和场景编码查询配置信息 -->
    <select id="selectByApiCodesAndSceneCodes" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM b_auto_check_config
        WHERE is_deleted = 0
        <if test="apiCodeList != null and apiCodeList.size() > 0">
            AND api_code IN
            <foreach collection="apiCodeList" item="apiCode" open="(" close=")" separator=",">
                #{apiCode}
            </foreach>
        </if>
        <if test="sceneCodeList != null and sceneCodeList.size() > 0">
            AND (
            <foreach collection="sceneCodeList" item="sceneCode" separator=" OR ">
                scene_code LIKE CONCAT('%', #{sceneCode}, '%')
            </foreach>
            )
        </if>
    </select>

    <select id="selectByApiCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM b_auto_check_config
        WHERE is_deleted = 0
        AND api_code = #{apiCode}
        ORDER BY create_time DESC
        LIMIT 1
    </select>

</mapper>