<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.CallRecordMapper" >

    <select id="getLastCallRecordByCustNum"  resultType="com.br.marketing.entity.CallRecord">
        select b.* from
        (
        select case_num,max(create_time) as create_time
        from b_call_record a
        where case_num in
        <foreach collection="custNums" item="custNum" open="(" separator="," close=")">
            #{custNum}
        </foreach>
        and cid = #{cid}
        group by case_num
        ) as a
        left join b_call_record b on a.case_num = b.case_num and a.create_time = b.create_time
    </select>

    <select id="getBlackListSet" resultType="java.lang.String">
        select case_num from b_call_record
        where call_status='12' and
        <foreach collection="custNumSet" open="(" close=")" separator="," item="custNum">
            case_num ='${custNum}'
        </foreach>
        and <![CDATA[ call_start_time = '${q.callStartTimeStr}' ]]>
        group by case_num having count(*)>0
    </select>
</mapper>