<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.CallRecordLogMapper" >
    <resultMap id="BaseResultMap" type="com.br.marketing.entity.CallRecordLog" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="record_id" property="recordId" jdbcType="BIGINT" />
        <result column="api_code" property="apiCode" jdbcType="VARCHAR" />
        <result column="case_num" property="caseNum" jdbcType="VARCHAR" />
        <result column="intention_grade" property="intentionGrade" jdbcType="VARCHAR" />
        <result column="inbound_status" property="inboundStatus" jdbcType="INTEGER" />
        <result column="applet_date" property="appletDate" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List">
    id, record_id, api_code, case_num, intention_grade, inbound_status, applet_date,
    create_time, update_time
    </sql>
    <select id="selectByrecordId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from b_call_record_log
        where record_id = #{recordId,jdbcType=BIGINT}
    </select>

    <insert id="batchInsert" parameterType="list">
        INSERT INTO b_call_record_log (
        record_id,
        api_code,
        case_num,
        intention_grade,
        inbound_status,
        applet_date,
        create_time,
        update_time
        )
        VALUES
        <foreach collection="callRecords" item="item" separator=",">
            (
            <if test="item.id != null and item.id != ''">#{item.id, jdbcType=VARCHAR},</if>
            <if test="item.apiCode != null and item.apiCode != ''">#{item.apiCode, jdbcType=VARCHAR},</if>
            <if test="item.caseNum != null and item.caseNum != ''">#{item.caseNum, jdbcType=VARCHAR},</if>
            <if test="item.intentionGrade != null and item.intentionGrade != ''">#{item.intentionGrade, jdbcType=VARCHAR},</if>
            '1',
            DATE_FORMAT(NOW(), '%Y-%m-%d'),
            DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%s'),
            DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%s')
            )
        </foreach>
    </insert>
</mapper>