<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.br.marketing.mapper.CustomerMapper">
	<select id="getAllCustomer"  resultType="com.br.marketing.entity.Customer">
		SELECT
		cus.api_code,cus.type,cus.thread_num,cus.start_date,con.task_service_name,con.push_service_name,con.merge_service_name
		FROM
		b_loan_customer cus left join b_loan_customer_config con
		on cus.customer_config_id=con.id
		WHERE
		cus.status=1
	</select>
	<select id="getCustomerByApiCode" parameterType="java.lang.String"  resultType="com.br.marketing.entity.Customer">
		SELECT
		cus.api_code,cus.type,cus.thread_num,cus.start_date,con.task_service_name,con.push_service_name,con.merge_service_name
		FROM
		b_loan_customer cus left join b_loan_customer_config con
		on cus.customer_config_id=con.id
		WHERE
		cus.status=1
		and api_code=#{apiCode}
	</select>

</mapper>
