<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.DidiCallBackDataMapper">

    <insert id="batchAdd" parameterType="java.util.List">
        INSERT INTO `b_didi_v5_callback_data` (
        `callback_type`,`cid`,`api_code`,`task_name`,`task_id`,`cell`,`case_status`,`dial_count`,`detail`,
        `call_record_id`,`call_start_time`,`call_connect_time`,`call_end_time`,`dialog_turn`,`call_status`,
        `is_connect`,`sms_send_status`,`call_dialog`,`user_properties`,`dial_rounds`,`recording_path`,
        `intention_grade`,`tag_list`,`push_status`,`status`,`extend`
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.callbackType},#{item.cid},#{item.apiCode},#{item.taskName}, #{item.taskId}, #{item.cell},
            #{item.caseStatus},#{item.dialCount},#{item.detail},#{item.callRecordId},#{item.callStartTime},
            #{item.callConnectTime},#{item.callEndTime},#{item.dialogTurn},#{item.callStatus},#{item.isConnect},
            #{item.smsSendStatus},#{item.callDialog},#{item.userProperties},#{item.dialRounds},#{item.recordingPath},
            #{item.intentionGrade},#{item.tagList},#{item.pushStatus},#{item.status},#{item.extend})
        </foreach>
    </insert>

    <select id="queryDidiCellSuccessData" parameterType="map" resultType="com.br.marketing.entity.DidiCallBackData">
        SELECT * FROM b_didi_v5_callback_data
        WHERE id > #{lastId}
          AND create_time > curdate()
          AND push_status = 0
          AND status = 0
          AND is_connect = 1
        ORDER BY id ASC LIMIT #{pageSize}
    </select>

    <select id="queryDidiSmsSuccessData" parameterType="map" resultType="com.br.marketing.entity.DidiCallBackData">
        SELECT * FROM b_didi_v5_callback_data
        WHERE id > #{lastId}
          AND create_time > curdate()
          AND push_status = 0
          AND status = 0
          AND (is_connect = 0 or is_connect IS NULL)
          AND sms_send_status = 1
        ORDER BY id ASC LIMIT #{pageSize}
    </select>

    <select id="queryDidiCellConstructData" parameterType="map" resultType="com.br.marketing.entity.DidiCallBackData">
        SELECT * FROM b_didi_v5_callback_data
        WHERE id > #{lastId}
          AND create_time > curdate()
          AND push_status = 0
          AND status = 0
          AND (is_connect = 0 or (is_connect IS NULL and sms_send_status IS NULL))
        ORDER BY id ASC LIMIT #{pageSize}
    </select>

    <select id="queryDidiSmsConstructData" parameterType="map" resultType="com.br.marketing.entity.DidiCallBackData">
        SELECT * FROM b_didi_v5_callback_data
        WHERE id > #{lastId}
          AND create_time > curdate()
          AND push_status = 0
          AND status = 0
          AND is_connect IS NULL
        ORDER BY id ASC LIMIT #{pageSize}
    </select>

</mapper>