<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.FlagDataMapper" >

    <insert id="insertbI_" parameterType="list">
        INSERT INTO b_marketing_flag_mark (
        flag_new_cust,
        flag_riskgroup,
        flag_interest,
        flag_age,
        flag_province,
        flag_special_small,
        flag_specialrisklevel_rule,
        flag_indexcs,
        flag_applyloan,
        flag_intellaudio_blacklist,
        flag_without_willingness,
        flag_score_whitelist,
        flag_whitelist
        )values
        <foreach collection="list" item="data" separator=",">
            (
            #{data.flagNewCust,jdbcType=INTEGER},
            #{data.flagRiskgroup,jdbcType=VARCHAR},
            #{data.flagInterest,jdbcType=INTEGER},
            #{data.flagAge,jdbcType=INTEGER},
            #{data.flagProvince,jdbcType=INTEGER},
            #{data.flagSpecialSmall,jdbcType=VARCHAR},
            #{data.flagSpecialrisklevel,jdbcType=INTEGER},
            #{data.flagIndexcs,jdbcType=INTEGER},
            #{data.flagApplyloan,jdbcType=INTEGER},
            #{data.flagIntellaudioBlacklist,jdbcType=INTEGER},
            #{data.flagWithoutWillingness,jdbcType=VARCHAR},
            #{data.flagScoreWhitelist,jdbcType=INTEGER},
            #{data.flagWhitelist,jdbcType=INTEGER}
             )
        </foreach>
    </insert>

    <select id="queryDataByCellbI_" resultType="com.br.marketing.dto.mark.FlagDataDTO">
        ${querySql}
    </select>

    <update id="updateTaskIdByLocalId" parameterType="java.lang.Long">
        update b_marketing_flag_data
        set task_id = #{taskId}
        where local_id = #{localId}
          and task_id is null limit 100000;
    </update>

    <update id="updateByDynamicEncCell">
        UPDATE b_marketing_flag_data
        <choose>
            <when test="encType == 'cell_md5'">
                SET cell_sha256 = #{cellSha256}, cell_log = #{cellLog}
                WHERE cell_md5 = #{cellMd5}
            </when>
            <when test="encType == 'cell_sha256'">
                SET cell_md5 = #{cellMd5}, cell_log = #{cellLog}
                WHERE cell_sha256 = #{cellSha256}
            </when>
            <when test="encType == 'cell_log'">
                SET cell_md5 = #{cellMd5}, cell_sha256 = #{cellSha256}
                WHERE cell_log = #{cellLog}
            </when>
        </choose>
        and api_code = #{apiCode}
    </update>

    <update id="batchUpdateEsStatusById">
        update b_marketing_flag_data
        set es_sync_status = 1
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

    <select id="queryFlagNewCustComputation"  resultType="com.br.marketing.entity.FlagData">
        select id,cell_md5
        from b_marketing_flag_data
        where flag_new_cust_computation is null and status = 1 and api_code = #{apiCode} limit #{pageSize}
    </select>

    <update id="batchUpdateFlagNewCustComputationByIds">
        update b_marketing_flag_data
        set flag_new_cust_computation = 0
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

    <select id="intersectionWithRongshubI_" resultType="java.lang.String">
        select cell from tmp_rongshu_20250113 where cell in
        <foreach collection="cells" item="cell" separator="," open="(" close=")">
            #{cell}
        </foreach>
    </select>

    <update id="batchUpdateFlagNewCustComputationByCells">
        update b_marketing_flag_data
        set flag_new_cust_computation = #{flagNewCustComputation},
            flag_new_cust = #{flagNewCust}
        where cell_md5 in
        <foreach collection="cells" item="cell" separator="," open="(" close=")">
            #{cell}
        </foreach>
    </update>

    <select id="queryLogCellByDatebI_" resultType="com.br.marketing.dto.mark.FlagDataCarryLogCell">
        select id,cell_log
        from b_marketing_flag_data
        where api_code = #{apiCode} and create_time > #{date}
        and status = 1 and cell_log is not null
        and flag_high_risk_computation is null and is_delete = 0
        limit #{pageSize}
    </select>

</mapper>