<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.FlagDataMapper" >

    <insert id="insertbI_">
        ${querySql}
    </insert>

    <select id="queryDataByCellbI_"  resultType="java.util.Map">
        ${querySql}
    </select>

    <update id="updateTaskIdByLocalId" parameterType="java.lang.Long">
        update b_marketing_flag_data
        set task_id = #{taskId}
        where local_id = #{localId}
          and task_id is null limit 100000;
    </update>

    <update id="updateByDynamicEncCell">
        UPDATE b_marketing_flag_data
        <choose>
            <when test="encType == 'cell_md5'">
                SET cell_sha256 = #{cellSha256}, cell_log = #{cellLog}
                WHERE cell_md5 = #{cellMd5}
            </when>
            <when test="encType == 'cell_sha256'">
                SET cell_md5 = #{cellMd5}, cell_log = #{cellLog}
                WHERE cell_sha256 = #{cellSha256}
            </when>
            <when test="encType == 'cell_log'">
                SET cell_md5 = #{cellMd5}, cell_sha256 = #{cellSha256}
                WHERE cell_log = #{cellLog}
            </when>
        </choose>
        and api_code = #{apiCode}
    </update>

    <update id="batchUpdateEsStatusById">
        update b_marketing_flag_data
        set es_sync_status = #{status}
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

    <select id="queryFlagNewCustComputation"  resultType="com.br.marketing.entity.FlagData">
        select id,cell_md5
        from b_marketing_flag_data
        where flag_new_cust_computation is null and status = 1 and api_code = #{apiCode} limit #{pageSize}
    </select>

    <select id="queryFlagBlackListComputation"  resultType="com.br.marketing.entity.FlagData">
        select id,cell_md5
        from b_marketing_flag_data
        where flag_blacklist_computation is null and status = 1 and api_code = #{apiCode} limit #{pageSize}
    </select>

    <update id="batchUpdateFlagNewCustComputationByIds">
        update b_marketing_flag_data
        set flag_new_cust_computation = 0
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

    <update id="batchUpdateFlagBlackListComputationByIds">
        update b_marketing_flag_data
        set flag_blacklist_computation = 0
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

    <select id="intersectionWithRongshubI_" resultType="java.lang.String">
        select cell from tmp_rongshu_20250113 where cell in
        <foreach collection="cells" item="cell" separator="," open="(" close=")">
            #{cell}
        </foreach>
    </select>

    <select id="intersectionWithBlackList" resultType="java.lang.String">
        select cell_md5 from b_ppCar_black_list where
        label_type = #{type}
        and cell_md5 in
        <foreach collection="cells" item="cell" separator="," open="(" close=")">
            #{cell}
        </foreach>
    </select>

    <update id="batchUpdateFlagNewCustComputationByCells">
        update b_marketing_flag_data
        set flag_new_cust_computation = #{flagNewCustComputation},
            flag_new_cust = #{flagNewCust}
        where cell_md5 in
        <foreach collection="cells" item="cell" separator="," open="(" close=")">
            #{cell}
        </foreach>
    </update>

    <update id="batchUpdateFlagBlackListComputationByCells">
        update b_marketing_flag_data
        set flag_blacklist_computation = #{flagBlacklistComputation},
        flag_intellaudio_blacklist = #{flagBlacklist}
        where cell_md5 in
        <foreach collection="cells" item="cell" separator="," open="(" close=")">
            #{cell}
        </foreach>
    </update>

    <select id="queryLogCellByDatebI_" resultType="com.br.marketing.dto.mark.FlagDataCarryLogCell">
        select id,cell_log
        from b_marketing_flag_data
        where api_code = #{apiCode} and create_time > #{date}
        and status = 1 and cell_log is not null
        and flag_high_risk_computation is null and is_delete = 0
        limit #{pageSize}
    </select>

    <select id="queryRiskGroupAndInterestData" resultType="com.br.marketing.entity.FlagData">
        select id,cell_md5 from b_marketing_flag_data
        where api_code = #{apiCode} and status = 1 and flag_customer_base_computation is null
        limit #{pageSize}
    </select>

    <update id="batchUpdateFlagStatusById">
        update b_marketing_flag_data
        set flag_customer_base_computation = #{flagStatus}
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

    <select id="queryOdsOrgDataByCellbI_" resultType="com.br.marketing.entity.FlagData">
        select cell_md5, user_type, api_code from ods_all_apicode_upload_data_rongshu_distinct
        where cell_md5 in
        <foreach collection="cells" item="cell" separator="," open="(" close=")">
            #{cell}
        </foreach>
    </select>

    <update id="batchUpdateRiskGroupAndInterestFlagById">
        update b_marketing_flag_data
        set flag_riskgroup = #{flagRiskGroup}, flag_customer_base_computation = #{flagStatus}
        where id in
        <foreach collection="data" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>
</mapper>