<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.HaierCollidingDataMapper">

    <select id="selectByLocalId" resultType="com.br.marketing.entity.HaierCollidingData">
        select a.mobile_digest,
               a.api_code,
               a.local_id,
               a.id
        from b_haier_colliding_data a
                 left join b_haier_colliding_data_log b on a.mobile_digest = b.mobile_digest and b.send_date = #{sendDate}
        where a.local_id = #{localId}
          and b.id is null limit #{pageSize}
    </select>

    <update id="updateBySelective" parameterType="map" >
        update b_haier_colliding_data
        <set >
            <if test="pushStatus != null" >
                push_status = #{pushStatus,jdbcType=INTEGER},
            </if>
        </set>
        where mobile_digest = #{mobileDigest,jdbcType=VARCHAR}
        and create_date = #{createDate,jdbcType=VARCHAR} and status = 1
    </update>
</mapper>