<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.MarketingTcyrCpaFailDataMapper" >
    <insert id="batchSave">
        INSERT INTO b_tcyr_cpa_fail_data (api_code,batch_no,sync_file_id,user_key,cell,fail_msg,release_time,create_time,status,status_msg,is_del,origin_text,extend)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.apiCode}, #{item.batchNo}, #{item.syncFileId}, #{item.userKey}, #{item.cell}, #{item.failMsg}, #{item.releaseTime}, #{item.createTime}, #{item.status}, #{item.statusMsg}, #{item.isDel}, #{item.originText}, #{item.extend})
        </foreach>
    </insert>
</mapper>