<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.MarketingTcyrCpaRobMapper" >

    <select id="selectByDataId" resultType="com.br.marketing.entity.MarketingTcyrCpaRob">
        SELECT *
        FROM
            b_tcyr_cpa_rob
        WHERE
            data_id = #{dataId}
            and is_del = #{delStatus}
        LIMIT 1
    </select>

    <update id="updateDelStatusById">
        UPDATE
            b_tcyr_cpa_rob
        SET is_del = #{delStatus}
        WHERE id = #{id}
    </update>


</mapper>