<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.MarketingCustomerAssignedGroupMapper" >

  <update id="updateByCid">
    update b_customer_assigned_group set assigned_group=#{assignedGroup}, update_time=now() where cid=#{cid}
  </update>

  <select id="getAssignedGroupByCid" resultType="com.br.marketing.entity.MarketingCustomerAssignedGroup">
    select assigned_group from b_customer_assigned_group where cid=#{cid}
  </select>

  <select id="getLastAssignedGroup" resultType="java.lang.String">
    select assigned_group from b_customer_assigned_group order by update_time desc limit 1
  </select>

</mapper>