<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.br.marketing.mapper.MarketingCallRecordVersionMapper">

    <!-- 根据sessionId查询数据是否存在 -->
    <select id="countBySessionId" resultType="Integer">
        select count(1) from ${tableName} where session_id = #{sessionId}
    </select>

    <!-- 插入数据到版本明细表 -->
    <insert id="insertData">
        <selectKey resultType="java.lang.Long" keyProperty="resultMap.id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        ${insertSql}
    </insert>

    <!-- 根据ID查询版本明细表数据 -->
    <select id="selectById" resultType="java.util.HashMap">
        select * from ${tableName} where id = #{id}
    </select>

</mapper>

