<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.MarketingTcyrCpaLoopCycleMapper" >

    <select id="selectByDataId" resultType="com.br.marketing.entity.MarketingTcyrCpaLoopCycle">
        SELECT *
        FROM
            b_tcyr_cpa_loop_cycle
        WHERE data_id = #{dataId}
              AND is_del = #{delStatus}
        LIMIT 1
    </select>

    <update id="updateInfoById">
        UPDATE
            b_tcyr_cpa_loop_cycle
        SET release_time = #{releaseTime},data_source_type = #{sourceType}
        WHERE
            id = #{id}
    </update>
</mapper>