<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.MarketingTransferSyncUserMapper" >
    <select id="getNewestByCusnum" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select * from b_marketing_transfer_sync_${cid}
        where cust_num=#{caseNum}
        order by create_time desc limit 1;
    </select>

    <select id="getNewestByCusnumAndApicode" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select * from b_marketing_transfer_sync_${cid}
        where cust_num=#{caseNum} and api_code=#{apicode} and user_type=#{userType}
        <if test="timeAddHour !=null and timeAddHour !=''">
            <![CDATA[ and create_time<= #{timeAddHour} ]]>
        </if>
        order by create_time desc limit 1;
    </select>

    <select id="getNewestByCusnumInHour" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select * from b_marketing_transfer_sync_${cid}
        where cust_num=#{caseNum}
        <if test="timeAddHour !=null and timeAddHour !=''">
            <![CDATA[ and create_time<= #{timeAddHour} ]]>
        </if>
        order by create_time desc limit 1;
    </select>

    <select id="getTransferOrderInsertTime" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select * from
        b_marketing_transfer_sync_${cid}
        where request_data=#{data}
        order by cust_num desc,insert_time desc,id desc limit #{limitStart},2000;
    </select>

    <select id="getTransferDataByRequestDataAndApiCode" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select * from
        b_marketing_transfer_sync_${cid}
        where request_data=#{data} and api_code = #{apiCode}
        order by id desc
        limit #{limitStart},2000;
    </select>

    <select id="getTransferByRequestData" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select * from
        b_marketing_transfer_sync_${cid}
        where
        <![CDATA[  request_data = #{endDate} ]]>
        order by create_time desc,id desc limit #{limitStart},2000;
    </select>

    <select id="getTransferData" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select * from
        b_marketing_transfer_sync_${cid}
        where
        <![CDATA[  request_data < #{endDate} ]]>
        order by create_time desc,id desc limit #{limitStart},2000;
    </select>

    <select id="getTransferNewData" resultType="com.br.marketing.entity.MarketingNewTransferData">
        select sha256_code_list,result,org_channel,mkt_level
        from b_xiecheng_sms_colliding_data_log_vt
        where send_date = #{day}
        order by id desc limit #{limitStart},2000;
    </select>

    <select id="getNewTransferDatabaseCollision" resultType="com.br.marketing.entity.MarketingNewTransferData">
        SELECT sha256_code_list,result,org_channel,mkt_level
        FROM b_xiecheng_sms_colliding_data_log_vt
        where send_date = #{day};
    </select>

    <select id="getNewTransferData" resultType="com.br.marketing.entity.MarketingNewTransferData">
        SELECT result,org_channel,mkt_level
        FROM b_xiecheng_sms_colliding_data_log_vt
        where cell = #{sha256_code_list};
    </select>

    <select id="getNewTransferDataByCell" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
            select * from b_marketing_transfer_sync_${cid}
            where cust_num=#{cell}
            order by create_time desc limit 1;
    </select>


    <select id="getNewTransferDataByCellList" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        SELECT
            b.cust_num,
            b.reserve_field1,
            b.request_time
        FROM
        (
        SELECT
        cust_num,
        max( request_time ) AS request_time
        FROM
        b_marketing_transfer_sync_${cid}
        WHERE
        cust_num IN
        <foreach collection = "custNumList" item = "custNumList" open = "(" separator = "," close = ")" >
            #{custNumList}
        </foreach >
        GROUP BY
        cust_num
        ) AS a
        LEFT JOIN b_marketing_transfer_sync_${cid} b ON a.cust_num = b.cust_num
        AND a.request_time = b.request_time
    </select>


    <select id="getTransferByApplyDt" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select * from
            b_marketing_transfer_sync_${cid}
        where api_code=#{apiCode}
        and apply_result=1
         <![CDATA[ and apply_dt > #{startDay} and apply_dt < #{endDay} ]]>
        order by apply_dt desc,id desc limit #{limitStart},2000
    </select>

    <select id="getByInCustAndCaseEffective" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select * from
        b_marketing_transfer_sync_${tcId}
        where api_code=#{apiCode} and case_effective ='0'
        and cust_num in
        <foreach collection="custs" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="getCustNumByApplyLoan" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select * from
        b_marketing_transfer_sync_${tcId}
        where api_code=#{apiCode} and
        <![CDATA[ request_data = #{eliminateDate} ]]>
        and reserve_field1 ->'$.applyLoan'='1';
    </select>

    <select id="getTransferByTransformTypeAndStatus" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select ts.id,ts.cust_num,ts.reserve_field1,ts.create_time,ts.user_type,ts.if_transform from  b_marketing_transfer_sync_${tcId} ts
        where <![CDATA[  ts.request_data = #{endDate} ]]> and ts.api_code=#{apiCode}
        order by ts.create_time desc,ts.id desc limit #{limitStart},2000
    </select>

    <select id="getTransferOrderInsertTimeByCustNum" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select b.* from
        (
            select cust_num,max(insert_time) as insert_time
            from b_marketing_transfer_sync_${cid} a
            where cust_num in
            <foreach collection="custNums" item="custNum" open="(" separator="," close=")">
                #{custNum}
            </foreach>
            <if test="date != null and date!=''">
              and request_data = #{date}
            </if>
            and (IFNULL(reserve_field1,'') ='' or reserve_field1 not like '%"transform":"1"%')
            group by cust_num
        ) as a
        left join b_marketing_transfer_sync_${cid} b on a.cust_num = b.cust_num and a.insert_time = b.insert_time
    </select>

    <select id="getTransferOrderRequestTimeByCustNum" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select b.* from
        (
        select cust_num,max(request_time) as request_time
        from b_marketing_transfer_sync_${cid} a
        where cust_num in
        <foreach collection="custNums" item="custNum" open="(" separator="," close=")">
            #{custNum}
        </foreach>
        <if test="date != null and date!=''">
            and request_data = #{date}
        </if>
        group by cust_num
        ) as a
        left join b_marketing_transfer_sync_${cid} b on a.cust_num = b.cust_num and a.request_time = b.request_time
    </select>

    <select id="findShuHeTransferList" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select t1.* from b_marketing_transfer_sync_${tCid} t1 , (select id from b_marketing_transfer_sync_${tCid} where
        <choose>
            <when test="sqlPart != null and sqlPart.trim() neq ''">
                ${sqlPart}
            </when>
            <otherwise>
                1!=1
            </otherwise>
        </choose>
        ) t2 where t1.id = t2.id
    </select>

    <select id="getTransferByApiCodeAndCreateTime" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select * from
        b_marketing_transfer_sync_${tCid}
        <where>
            <if test="apiCode != null">
                AND api_code =#{apiCode}
            </if>
            <if test="minId != null and minId >0">
                AND id >=#{minId}
            </if>
            <![CDATA[ AND create_time >= #{startDate} and create_time < #{endDate} ]]>
            order by id asc limit 2000;
        </where>
    </select>

    <select id="findTransferByApiCodeAndCreateTimePage" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select t2.* from b_marketing_transfer_sync_${transferSyncUser.tCid} t2,(select id from
        b_marketing_transfer_sync_${transferSyncUser.tCid}
        <where>
            <if test="transferSyncUser.apiCode != null and transferSyncUser.apiCode.trim() neq ''">
                AND api_code=#{transferSyncUser.apiCode}
            </if>
            <if test="startTime != null and startTime.trim() neq '' and endTime != null and endTime.trim() neq ''">
                AND create_time between #{startTime} and #{endTime}
            </if>
            <if test="transferSyncUser.ifLogin != null and transferSyncUser.ifLogin.trim() neq ''">
                AND if_login=#{transferSyncUser.ifLogin}
            </if>
            <if test="transferSyncUser.ifApply != null and transferSyncUser.ifApply.trim() neq ''">
                AND if_apply=#{transferSyncUser.ifApply}
            </if>
            <if test="transferSyncUser.applyResult != null and transferSyncUser.applyResult.trim() neq ''">
                AND apply_result=#{transferSyncUser.applyResult}
            </if>
            <if test="transferSyncUser.ifLent != null and transferSyncUser.ifLent.trim() neq ''">
                AND if_lent=#{transferSyncUser.ifLent}
            </if>
            <if test="transferSyncUser.requestData != null and transferSyncUser.requestData.trim() neq ''">
                AND request_data=#{transferSyncUser.requestData}
            </if>
        </where>
        order by
        <choose>
            <when test="orderByClause != null and orderByClause.trim() neq ''">
                ${orderByClause}
            </when>
            <otherwise>
                id
            </otherwise>
        </choose>
        limit ${rowCount},${offset}
        ) as t1 where t1.id = t2.id
    </select>
    <select id="getTransferUserByCreateTimeOrder" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select *
        from b_marketing_transfer_sync_${tcId}
        where
        <![CDATA[  create_time >= #{startTime}
        and create_time < #{endTime} ]]>
        <if test="apiCode !=null and apiCode !=''">
            and api_code = #{apiCode}
        </if>
        order by create_time desc limit #{pageIndex},#{pageSize}

    </select>

    <select id="findByApplyResultAndRequestDataAndApplyDtPage"
            resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select cust_num, apply_result, apply_dt, type, create_time, reserve_field1,user_type,api_code
        from b_marketing_transfer_sync_${tcId} t1,
        (select id from b_marketing_transfer_sync_${tcId}
        where apply_result = #{applyResult}
        <if test="apiCode !=null and apiCode !=''">
            and api_code = #{apiCode}
        </if>
        and <![CDATA[ request_data=#{requestDate} and apply_dt<='${applyDt} 23:59:59' ]]>
        order by apply_dt desc, id desc limit #{rowCount}, #{offset}) as t2
        where t1.id = t2.id
    </select>

    <select id="getCustNumSet" resultType="java.lang.String">
        select cust_num from b_marketing_transfer_sync_${tcId}
        where (case_effective=#{caseEffective}
        or (<![CDATA[ request_data=#{requestDate} and apply_dt>=#{applyDt} and apply_dt<='${requestDate} 23:59:59' ]]>
        and apply_result is not null and apply_result!=''))
        <if test="apiCode !=null and apiCode !=''">
            and api_code = #{apiCode}
        </if>
        <if test="custNumSet !=null and custNumSet.size() !=0">
            and cust_num in
            <foreach collection="custNumSet" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        group by cust_num
    </select>

    <select id="getJuZiDRuleTransferData" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select * from
        b_marketing_transfer_sync_${tCid}
        <where>
            unlent_amount > '0.00'
            <if test="minId != null and minId >0">
                AND id >=#{minId}
            </if>
            AND request_data = #{requestData}
            order by id asc limit 2000;
        </where>
    </select>

    <select id="getJuZiCRuleTransferData" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select * from
        b_marketing_transfer_sync_${tCid}
        <where>
            audit_amount > '0.00'
            <if test="minId != null and minId >0">
                AND id >=#{minId}
            </if>
            AND request_data = #{requestData}
            AND  json_unquote(json_extract(reserve_field1,'$.applyLoan')) = '0'
            order by id asc limit 2000;
        </where>
    </select>

    <select id="getJuZiBRuleTransferData" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select * from
        b_marketing_transfer_sync_${tCid}
        <where>
            if_apply= '0'
            <if test="minId != null and minId >0">
                AND id >=#{minId}
            </if>
            AND request_data = #{requestData}
            AND if_lent= '0'
            AND <![CDATA[  register_time >= #{registerTime} and register_time < #{requestData} ]]>
            AND  json_unquote(json_extract(reserve_field1,'$.applyLoan')) = '0'
            order by id asc limit 2000;
        </where>
    </select>

    <select id="getJuZiARuleTransferData" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select * from
        b_marketing_transfer_sync_${tCid}
        <where>
            if_login= '1'
            <if test="minId != null and minId >0">
                AND id >=#{minId}
            </if>
            AND request_data = #{requestData}
            AND if_apply= '0'
            AND if_lent= '0'
            AND <![CDATA[  login_time >= #{loginTime} and login_time < #{requestData} ]]>
            AND  json_unquote(json_extract(reserve_field1,'$.applyLoan')) = '0'
            order by id asc limit 2000;
        </where>
    </select>

    <select id="getJuZiDRuleLockData" resultType="java.lang.String">
        select cust_num from
        b_marketing_transfer_sync_${tCid}
        where
        cust_num in
        <foreach collection="custNums" item="custNum" open="(" separator="," close=")">
            #{custNum}
        </foreach>
        AND unlent_amount= '0.00'
        AND lent_time >= #{lentTime}
    </select>

    <select id="getJuZiCRuleLockData" resultType="java.lang.String">
        select cust_num from
        b_marketing_transfer_sync_${tCid}
        where
        cust_num in
        <foreach collection="custNums" item="custNum" open="(" separator="," close=")">
            #{custNum}
        </foreach>
        AND json_unquote(json_extract(reserve_field1,'$.applyLoan')) = '1'
        AND json_unquote(json_extract(reserve_field1,'$.applyLoanTime'))>= #{applyLoanTime}
    </select>

    <select id="getJuZiBOrARuleLockData" resultType="java.lang.String">
        select cust_num from
        b_marketing_transfer_sync_${tCid}
        where
        cust_num in
        <foreach collection="custNums" item="custNum" open="(" separator="," close=")">
            #{custNum}
        </foreach>
        AND apply_dt >=#{applyDt}
    </select>

    <select id="getTransferDataCount" resultType="java.lang.Integer">
        select count(id) from
        b_marketing_transfer_sync_${tcId}
        where
        api_code = #{apiCode}
        AND request_data = #{requestData}
    </select>

    <select id="getConvtypeData" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select *
        from b_marketing_transfer_sync_${tcId}
        where request_data = #{requestData}
          AND json_unquote(json_extract(reserve_field1, '$.convType')) = #{convType}
        group by cust_num
        order by id asc  limit #{limitStart}, 500
    </select>

    <select id="getCustNumAndConvtypeData" resultType="java.lang.String">
        select cust_num
        from b_marketing_transfer_sync_${tcId}
        where request_data = #{requestData}
        and cust_num in
        <foreach collection="custNums" item="custNum" open="(" separator="," close=")">
            #{custNum}
        </foreach>
          AND ${convTypeStr}
    </select>

    <select id="getRsToPolicyData" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select *
        from b_marketing_transfer_sync_${tcId}
        where request_data = #{requestDate}
        and user_type in
        <foreach collection="userTypes" item="userType" open="(" separator="," close=")">
            #{userType}
        </foreach>
        <if test="ifActivity != null ">
            and reserve_field1->'$.ifActivity'=#{ifActivity}
        </if>
        <if test="activityTime != null ">
            and replace(substring(reserve_field1->'$.activityTime',1,11),'"','')=#{activityTime}
        </if>
        <if test="ifApply != null ">
            and if_apply=#{ifApply}
        </if>
        <if test="applyDt != null ">
            and STR_TO_DATE(apply_dt,'%Y-%m-%d') = #{applyDt}
        </if>
        <if test="minId != null and minId>0">
            and id > #{minId}
        </if>
        order by id asc
        limit #{pageSize}
    </select>

    <select id="getJuZiARuleData" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select * from
        b_marketing_transfer_sync_${tCid}
        <where>
            api_code = #{apiCode}
            and request_data = DATE_FORMAT(now(),"%Y-%m-%d")
            and if_apply = '1'
            and (apply_result is null or apply_result ='')
            and  audit_amount >= 1000
            and  apply_dt between DATE_SUB(DATE_FORMAT(now(),"%Y-%m-%d"),INTERVAL 1 day) and DATE_FORMAT(now(),"%Y-%m-%d")
            <if test="minId != null and minId >0">
                AND id >=#{minId}
            </if>
            order by id asc limit 2000;
        </where>
    </select>
    <select id="getJuZiBRuleData" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        SELECT  a.* FROM b_marketing_transfer_sync_${tCid} a
        INNER JOIN b_phone_sale_extend_info b ON a.cust_num = b.cust_num
        WHERE
        a.api_code = #{apiCode}
        and
            b.status ="a"
        AND (
        b.create_time BETWEEN DATE_SUB( date_format(now(),"%Y-%m-%d"), INTERVAL 2 DAY ) AND DATE_SUB(date_format(now(),"%Y-%m-%d"), INTERVAL 1 DAY )
        OR  b.create_time BETWEEN DATE_SUB(date_format(now(),"%Y-%m-%d"),INTERVAL 6 DAY ) AND DATE_SUB( date_format(now(),"%Y-%m-%d"), INTERVAL 5 DAY )
        )
        <if test = "minId != null and minId >0">
            AND a.id >= #{minId}
        </if>

        ORDER BY
        a.id ASC
        LIMIT 2000;

    </select>
    <select id="getJuZiCRuleData" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select * from
        b_marketing_transfer_sync_${tCid}
        <where>
            api_code = #{apiCode}
            and
            request_data = DATE_FORMAT(now(),"%Y-%m-%d")
            and if_apply = '1'
            and (apply_result is null or apply_result ='')
            and  audit_amount >= 1000
            and  login_time between DATE_SUB(DATE_FORMAT(now(),"%Y-%m-%d"),INTERVAL 1 day) and DATE_FORMAT(now(),"%Y-%m-%d")
            <if test="minId != null and minId >0">
                AND id >=#{minId}
            </if>
            order by id asc limit 2000;
        </where>
    </select>

    <select id="getJuZiDRuleData" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select * from
        b_marketing_transfer_sync_${tCid}
        <where>
            api_code = #{apiCode}
            and
            request_data = DATE_FORMAT(now(),"%Y-%m-%d")
            and if_login = '1'
            and (if_apply is null or if_apply ='')
            and (apply_result is null or apply_result ='')
            and (if_lent is null or if_lent ='')
            <if test="minId != null and minId >0">
                AND id >=#{minId}
            </if>
            order by id asc limit 2000;
        </where>
    </select>
    <select id="getValidityPeriodData" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select * from
        b_marketing_transfer_sync_${tCid}
        where api_code = #{apiCode}
          and cust_num =#{custNum} and audit_amount!=null and audit_amount!='' and lent_amount!=null and lent_amount!='' <![CDATA[ and audit_amount-lent_amount <1000 ]]>
    </select>



    <select id="getTransferOfRdRFs" resultType="com.br.marketing.vo.TransferOfRdRFVO">
        select cust_num as custNum
               ,request_data as requestData
               ,request_time as requestTime
               ,reserve_field1 as reserveField1
        from b_marketing_transfer_sync_${tcId}
        where
              api_code = #{apiCode}
          and request_data >= #{requestDate}
          and cust_num in
        <foreach collection="custNums" item="custNum" open="(" separator="," close=")">
            #{custNum}
        </foreach>
    </select>

    <select id="getTransferCustNumsRangReqDateByPage" resultType="java.lang.String">
        select b.cust_num
        from (select id from
            b_marketing_transfer_sync_${tCid}
        where api_code = #{apiCode}
           <![CDATA[ and request_data >= #{begingDate} and request_data <= #{endDate} ]]>
        order by request_data desc,id desc limit #{pageIndex},#{pageSize}) as a
        ,b_marketing_transfer_sync_${tCid} as b
        where a.id = b.id
    </select>

    <select id="getTransferReqDateAndIdByPage" resultType="com.br.marketing.vo.TransferOfCnIdVO">
        select *
        from b_marketing_transfer_sync_${tCid}
        where api_code = #{apiCode} and request_data = #{requestDate}
        <if test="minId != null and minId >0">
            and id > #{minId}
        </if>
        order by id asc limit 2000;
    </select>

    <select id="getTransferByRequestDate" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select *
        from b_marketing_transfer_sync_${tCid}
        where api_code = #{apiCode} and request_data = #{requestDate}
        <if test="minId != null and minId >0">
            and id > #{minId}
        </if>
        order by id asc limit 2000;
    </select>

    <select id="getTransferByCustNumOrderDatatikv_" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
    select * from (
    select *,row_number() over(partition by cust_num order by create_time desc) as num
    from b_marketing_transfer_sync_${tCid}
    where
    cust_num in
    <foreach collection="custNums" item="c" separator="," open="(" close=")">
        #{c}
    </foreach>
    ) t where num = 1
    </select>
    <select id="getYxTransferByApiCodeBtoCtoItikv_" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        Select b.*
        From (select a.id,a.cid,a.t_cid,a.api_code,a.cust_num,a.reserve_field1 ,a.type,a.request_data,a.user_type,a.unlent_amount,
                     row_number() over(partition by cust_num order by insert_time desc,id desc) as rn
            From b_marketing_transfer_sync_${tCid} a
            where api_code =#{apiCode}
            and request_data = #{requestData}
            and (json_extract(reserve_field1,"$.transformType") !='1' or json_extract(reserve_field1,"$.transformType") is null)
           ) b
        Where b.rn = 1
        <if test="indexId != null and indexId!=''">
            and b.id > #{indexId}
        </if>
          and b.type =#{type} order by b.id asc limit #{pageSize};
    </select>
    <select id="getYxTransferByApiCodeAtikv_" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select b.*
        from (select a.id,a.cid,a.t_cid,a.api_code,a.cust_num,a.reserve_field1,a.request_data,a.user_type,a.unlent_amount,
                     row_number() over (partition by cust_num order by create_time desc,id desc) as rn
            from b_marketing_transfer_sync_${tCid} a
            where request_data = #{requestDate}
            and api_code = #{apiCode}
            and json_extract(reserve_field1, '$.transformType') = '1' ) as b
        where b.rn = 1
        <if test="indexId != null and indexId!=''">
            and b.id > #{indexId}
        </if>
          and b.json_extract(reserve_field1, '$.liveType') in ('4', '6') order by b.id asc limit #{pageSize};
    </select>

    <select id="getExcludeRuleFirstYxTransferByApiCodetikv_" resultType="java.lang.String">
        select distinct cust_num
        from b_marketing_transfer_sync_${cid}
        where request_data = #{today}
          and api_code = #{apiCode}
          and (json_extract(reserve_field1, '$.transformType') != '1' or json_extract(reserve_field1,'$.transformType') is null)
          and type != '13'
          and cust_num in
          <foreach collection="custNums" item="custNum" open="(" separator="," close=")">
            #{custNum}
          </foreach>;
    </select>

    <select id="getExcludeRuleSecondYxTransferByApiCodetikv_" resultType="java.lang.String">
        select distinct cust_num
        from b_marketing_transfer_sync_${cid}
        where api_code = #{apiCode}
          and case_effective = '0'
          and cust_num in
          <foreach collection="custNums" item="custNum" open="(" separator="," close=")">
            #{custNum}
          </foreach>;
    </select>

    <select id="getRuleFifthYxTransferByApiCodetikv_" resultType="java.lang.String">
        select distinct tt1.cust_num,tt1.type from (
        select t1.cust_num,t1.type,row_number() over(partition by cust_num,request_data order by insert_time desc) as rn
        from b_marketing_transfer_sync_${cid} t1
        where request_data = #{queryDate}
        and (json_extract(reserve_field1, '$.transformType') != '1'
        or json_extract(reserve_field1, '$.transformType') is null)
        and api_code = #{apiCode}
        and cust_num in
        <foreach collection="custNums" item="custNum" open="(" separator="," close=")">
            #{custNum}
        </foreach>
        ) tt1
        where rn = 1
        and tt1.type != '12'
        and length(trim(tt1.type)) > 0
        and tt1.type is not null;
    </select>

    <select id="getYiXinMinAtoBtoCtoI" resultType="java.lang.Long">
        select max(id)
        from b_marketing_transfer_sync_${cid}
                where api_code = #{apiCode}
                  and request_data = #{requestData}
        <if test="type != null and type != ''">
            and type = #{type};
        </if>
    </select>
    <select id="getCountByRequestId" resultType="java.lang.Integer">
        select count(1)
        from b_marketing_transfer_sync_${cid}
        where  request_id = #{requestId}
    </select>


    <select id="getXcTransferNoAdData" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select *
        from b_marketing_transfer_sync_${tCid}
        where cust_num = #{custNum}
        and (reserve_field1->'$.convType' = '106' or reserve_field1->'$.isBlack' = '1') limit 1
    </select>
</mapper>