<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.MarketingTcyrSyncMapper" >

    <select id="selectTcSyncList" resultType="com.br.marketing.entity.MarketingTcyrSync">
        SELECT id, api_code, batch_no, user_key, terminal, cell, is_match, is_clean, create_time,update_time
        FROM  b_marketing_tcyr_sync
        WHERE id > #{lastSearchId}
            AND status = 1
            AND batch_no = #{batchNo}
            AND is_clean = #{cleanStatus}
        ORDER BY id ASC
        LIMIT #{searchSize}
    </select>
    <select id="selectWaitMatchCount" resultType="java.lang.Long">
        SELECT count(*) FROM b_marketing_tcyr_sync WHERE is_match is NULL
    </select>


    <select id="selectUnMatchSyncList" resultType="com.br.marketing.entity.MarketingTcyrSync">
        SELECT id, api_code, batch_no, user_key, terminal, cell, is_match, is_clean, create_time,update_time
        FROM  b_marketing_tcyr_sync
        WHERE id > #{lastSearchId}
        AND is_match is NULL
        AND status = 1
        ORDER BY id ASC
        LIMIT #{searchSize}
    </select>

    <update id="updateCleanStatus">
        UPDATE b_marketing_tcyr_sync set is_clean = #{cleanStatus}
        WHERE id IN (0,
        <foreach collection="idList" item="id" separator=",">
            #{id}
        </foreach>)
    </update>

    <update id="dealTcMatch">
--         WITH latest_b AS (
--             SELECT b1.cust_num, b1.cell
--             FROM b_marketing_sync_${apiCode} b1
--                      INNER JOIN (
--                 SELECT cust_num, MAX(id) AS max_id
--                 FROM b_marketing_sync_${apiCode}
--                 GROUP BY cust_num
--             ) b2 ON b1.cust_num = b2.cust_num AND b1.id = b2.max_id
--         )
--         UPDATE b_marketing_tcyr_sync a
--             LEFT JOIN latest_b ON a.user_key = latest_b.cust_num
--             SET
--                 a.cell = CASE
--                     WHEN latest_b.cust_num IS NOT NULL THEN latest_b.cell
--                     ELSE a.cell
--                 END,
--                 a.is_match = CASE
--                     WHEN latest_b.cust_num IS NOT NULL THEN 1
--                     ELSE 0
--                 END,
--                 a.is_clean = 0
--             WHERE a.is_match IS NULL
--             LIMIT 2000;

        UPDATE b_marketing_tcyr_sync a
            LEFT JOIN (
                SELECT b1.cust_num, b1.cell
                FROM b_marketing_sync_${apiCode} b1
                INNER JOIN (
                -- 找到每个 cust_num 对应的最大 id
                SELECT cust_num, MAX(id) AS max_id
                FROM b_marketing_sync_${apiCode}
                GROUP BY cust_num
                ) b2 ON b1.cust_num = b2.cust_num AND b1.id = b2.max_id
            ) latest_b ON a.user_key = latest_b.cust_num
            SET
                a.cell = CASE
                WHEN latest_b.cust_num IS NOT NULL THEN latest_b.cell
                ELSE a.cell
                END,
                a.is_match = CASE
                    WHEN latest_b.cust_num IS NOT NULL THEN 1
                    ELSE 0
                END,
                a.is_clean = 0
        WHERE a.is_match IS NULL
       ORDER BY a.id ASC
        LIMIT 2000;
    </update>

    <update id="batchUpdateMatchInfo">
        UPDATE b_marketing_tcyr_sync
        SET
        cell = CASE id
        <foreach collection="list" item="item">
            WHEN #{item.id} THEN #{item.cell}
        </foreach>
        ELSE cell
        END,
        is_match = CASE id
        <foreach collection="list" item="item">
            WHEN #{item.id} THEN #{item.isMatch}
        </foreach>
        ELSE is_match
        END,
        is_clean = CASE id
        <foreach collection="list" item="item">
            WHEN #{item.id} THEN #{item.isClean}
        </foreach>
        ELSE is_clean
        END
        WHERE id IN (
        <foreach collection="list" item="item" separator=",">
            #{item.id}
        </foreach>
        )
    </update>

</mapper>