<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.MarketingTransferSyncUserMapper" >
    <select id="getNewestByCusnum" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select * from b_marketing_transfer_sync_${cid}
        where cust_num=#{caseNum}
        order by create_time desc limit 1;
    </select>

    <select id="getNewestByCusnumAndApicode" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select * from b_marketing_transfer_sync_${cid}
        where cust_num=#{caseNum} and api_code=#{apicode} and user_type=#{userType}
        order by create_time desc limit 1;
    </select>
</mapper>