<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.MarketingTcyrSyncFileMapper" >

    <select id="selectSingleSyncFile" resultType="com.br.marketing.entity.MarketingTcyrSyncFile">
        SELECT id, api_code, batch_no, file_name, file_path,
               deal_status, is_del, create_time,
                update_time, total_count,success_count
        FROM b_marketing_tcyr_sync_file
        WHERE api_code=#{apiCode}
              and deal_status=#{dealStatus}
              and is_del=1
        LIMIT 1
    </select>
    <select id="selectSyncFileList" resultType="com.br.marketing.entity.MarketingTcyrSyncFile">
        SELECT id, api_code, batch_no, file_name, file_path,
               deal_status, is_del, create_time,
               update_time, total_count,success_count
        FROM b_marketing_tcyr_sync_file
        WHERE api_code=#{apiCode}
          and deal_status=#{dealStatus}
          and is_del=1
          and total_count > success_count
    </select>

</mapper>