<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.MarketingTransferSyncUserMapper" >
    <select id="getNewestByCusnum" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select * from b_marketing_transfer_sync_${cid}
        where cust_num=#{caseNum}
        order by create_time desc limit 1;
    </select>

    <select id="getNewestByCusnumAndApicode" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select * from b_marketing_transfer_sync_${cid}
        where cust_num=#{caseNum} and api_code=#{apicode} and user_type=#{userType}
        <if test="timeAddHour !=null and timeAddHour !=''">
            <![CDATA[ and create_time<= #{timeAddHour} ]]>
        </if>
        order by create_time desc limit 1;
    </select>

    <select id="getNewestByCusnumInHour" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select * from b_marketing_transfer_sync_${cid}
        where cust_num=#{caseNum}
        <if test="timeAddHour !=null and timeAddHour !=''">
            <![CDATA[ and create_time<= #{timeAddHour} ]]>
        </if>
        order by create_time desc limit 1;
    </select>

    <select id="getTransferOrderInsertTime" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select * from
        b_marketing_transfer_sync_${cid}
        where request_data=#{data}
        order by insert_time desc limit #{limitStart},5000;
    </select>

    <select id="getTransferOrderInsertTimeByCustNum" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select b.* from
        (
            select cust_num,max(insert_time) as insert_time
            from b_marketing_transfer_sync_${cid} a
            where cust_num in
            <foreach collection="custNums" item="custNum" open="(" separator="," close=")">
                #{custNum}
            </foreach>
            <if test="date != null and date!=''">
              and request_data = #{date}
            </if>
            and (IFNULL(reserve_field1,'') ='' or reserve_field1 not like '%"transform":"1"%')
            group by cust_num
        ) as a
        left join b_marketing_transfer_sync_${cid} b on a.cust_num = b.cust_num and a.insert_time = b.insert_time
    </select>

    <select id="getTransferOrderRequestTimeByCustNum" resultType="com.br.marketing.entity.MarketingTransferSyncUser">
        select b.* from
        (
        select cust_num,max(request_time) as request_time
        from b_marketing_transfer_sync_${cid} a
        where cust_num in
        <foreach collection="custNums" item="custNum" open="(" separator="," close=")">
            #{custNum}
        </foreach>
        <if test="date != null and date!=''">
            and request_data = #{date}
        </if>
        group by cust_num
        ) as a
        left join b_marketing_transfer_sync_${cid} b on a.cust_num = b.cust_num and a.request_time = b.request_time
    </select>

</mapper>