<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.MarketingCleanDataTaskMapper">


    <select id="getTaskList" resultType="com.br.marketing.vo.dataclean.DataCleanTaskVO">
        SELECT
        id,api_code,config_id,file_id,clean_type as fileType,test_result,clean_status,create_time,update_time
        FROM
        b_marketing_clean_data_task
        <where>
            <if test="fileType!= null">
                AND clean_type=#{fileType}
            </if>
            <if test="status!= null">
                AND clean_status=#{status}
            </if>
            <if test="apiCode!= null">
                AND api_code=#{apiCode}
            </if>
        </where>
        order by create_time desc
    </select>

</mapper>