<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.ReportStatisticsScoreMapper" >
  <resultMap id="BaseResultMap" type="com.br.marketing.entity.ReportStatisticsScore" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="report_id" property="reportId" jdbcType="BIGINT" />
    <result column="report_rule" property="reportRule" jdbcType="VARCHAR" />
    <result column="batch_number_list" property="batchNumberList" jdbcType="VARCHAR" />
    <result column="field_x" property="fieldX" jdbcType="VARCHAR" />
    <result column="field_y" property="fieldY" jdbcType="VARCHAR" />
    <result column="field_x_range" property="fieldXRange" jdbcType="VARCHAR" />
    <result column="field_y_range" property="fieldYRange" jdbcType="VARCHAR" />
    <result column="report_score_type" property="reportScoreType" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="statistics_desc" property="statisticsDesc" jdbcType="VARCHAR" />
    <result column="statistics_order" property="statisticsOrder" jdbcType="INTEGER" />
    <result column="is_del" property="isDel" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, report_id, report_rule, batch_number_list, field_x, field_y, field_x_range, field_y_range, 
    report_score_type, `status`, statistics_desc, statistics_order, is_del, create_time, 
    update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.br.marketing.entity.ReportStatisticsScoreExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from b_report_statistics_score
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from b_report_statistics_score
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from b_report_statistics_score
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.br.marketing.entity.ReportStatisticsScoreExample" >
    delete from b_report_statistics_score
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.br.marketing.entity.ReportStatisticsScore" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into b_report_statistics_score (report_id, report_rule, batch_number_list, 
      field_x, field_y, field_x_range, 
      field_y_range, report_score_type, `status`, 
      statistics_desc, statistics_order, is_del, 
      create_time, update_time)
    values (#{reportId,jdbcType=BIGINT}, #{reportRule,jdbcType=VARCHAR}, #{batchNumberList,jdbcType=VARCHAR}, 
      #{fieldX,jdbcType=VARCHAR}, #{fieldY,jdbcType=VARCHAR}, #{fieldXRange,jdbcType=VARCHAR}, 
      #{fieldYRange,jdbcType=VARCHAR}, #{reportScoreType,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{statisticsDesc,jdbcType=VARCHAR}, #{statisticsOrder,jdbcType=INTEGER}, #{isDel,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.br.marketing.entity.ReportStatisticsScore" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into b_report_statistics_score
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="reportId != null" >
        report_id,
      </if>
      <if test="reportRule != null" >
        report_rule,
      </if>
      <if test="batchNumberList != null" >
        batch_number_list,
      </if>
      <if test="fieldX != null" >
        field_x,
      </if>
      <if test="fieldY != null" >
        field_y,
      </if>
      <if test="fieldXRange != null" >
        field_x_range,
      </if>
      <if test="fieldYRange != null" >
        field_y_range,
      </if>
      <if test="reportScoreType != null" >
        report_score_type,
      </if>
      <if test="status != null" >
        `status`,
      </if>
      <if test="statisticsDesc != null" >
        statistics_desc,
      </if>
      <if test="statisticsOrder != null" >
        statistics_order,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="reportId != null" >
        #{reportId,jdbcType=BIGINT},
      </if>
      <if test="reportRule != null" >
        #{reportRule,jdbcType=VARCHAR},
      </if>
      <if test="batchNumberList != null" >
        #{batchNumberList,jdbcType=VARCHAR},
      </if>
      <if test="fieldX != null" >
        #{fieldX,jdbcType=VARCHAR},
      </if>
      <if test="fieldY != null" >
        #{fieldY,jdbcType=VARCHAR},
      </if>
      <if test="fieldXRange != null" >
        #{fieldXRange,jdbcType=VARCHAR},
      </if>
      <if test="fieldYRange != null" >
        #{fieldYRange,jdbcType=VARCHAR},
      </if>
      <if test="reportScoreType != null" >
        #{reportScoreType,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="statisticsDesc != null" >
        #{statisticsDesc,jdbcType=VARCHAR},
      </if>
      <if test="statisticsOrder != null" >
        #{statisticsOrder,jdbcType=INTEGER},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.br.marketing.entity.ReportStatisticsScoreExample" resultType="java.lang.Integer" >
    select count(*) from b_report_statistics_score
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update b_report_statistics_score
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.reportId != null" >
        report_id = #{record.reportId,jdbcType=BIGINT},
      </if>
      <if test="record.reportRule != null" >
        report_rule = #{record.reportRule,jdbcType=VARCHAR},
      </if>
      <if test="record.batchNumberList != null" >
        batch_number_list = #{record.batchNumberList,jdbcType=VARCHAR},
      </if>
      <if test="record.fieldX != null" >
        field_x = #{record.fieldX,jdbcType=VARCHAR},
      </if>
      <if test="record.fieldY != null" >
        field_y = #{record.fieldY,jdbcType=VARCHAR},
      </if>
      <if test="record.fieldXRange != null" >
        field_x_range = #{record.fieldXRange,jdbcType=VARCHAR},
      </if>
      <if test="record.fieldYRange != null" >
        field_y_range = #{record.fieldYRange,jdbcType=VARCHAR},
      </if>
      <if test="record.reportScoreType != null" >
        report_score_type = #{record.reportScoreType,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        `status` = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.statisticsDesc != null" >
        statistics_desc = #{record.statisticsDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.statisticsOrder != null" >
        statistics_order = #{record.statisticsOrder,jdbcType=INTEGER},
      </if>
      <if test="record.isDel != null" >
        is_del = #{record.isDel,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update b_report_statistics_score
    set id = #{record.id,jdbcType=BIGINT},
      report_id = #{record.reportId,jdbcType=BIGINT},
      report_rule = #{record.reportRule,jdbcType=VARCHAR},
      batch_number_list = #{record.batchNumberList,jdbcType=VARCHAR},
      field_x = #{record.fieldX,jdbcType=VARCHAR},
      field_y = #{record.fieldY,jdbcType=VARCHAR},
      field_x_range = #{record.fieldXRange,jdbcType=VARCHAR},
      field_y_range = #{record.fieldYRange,jdbcType=VARCHAR},
      report_score_type = #{record.reportScoreType,jdbcType=INTEGER},
      `status` = #{record.status,jdbcType=INTEGER},
      statistics_desc = #{record.statisticsDesc,jdbcType=VARCHAR},
      statistics_order = #{record.statisticsOrder,jdbcType=INTEGER},
      is_del = #{record.isDel,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.br.marketing.entity.ReportStatisticsScore" >
    update b_report_statistics_score
    <set >
      <if test="reportId != null" >
        report_id = #{reportId,jdbcType=BIGINT},
      </if>
      <if test="reportRule != null" >
        report_rule = #{reportRule,jdbcType=VARCHAR},
      </if>
      <if test="batchNumberList != null" >
        batch_number_list = #{batchNumberList,jdbcType=VARCHAR},
      </if>
      <if test="fieldX != null" >
        field_x = #{fieldX,jdbcType=VARCHAR},
      </if>
      <if test="fieldY != null" >
        field_y = #{fieldY,jdbcType=VARCHAR},
      </if>
      <if test="fieldXRange != null" >
        field_x_range = #{fieldXRange,jdbcType=VARCHAR},
      </if>
      <if test="fieldYRange != null" >
        field_y_range = #{fieldYRange,jdbcType=VARCHAR},
      </if>
      <if test="reportScoreType != null" >
        report_score_type = #{reportScoreType,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="statisticsDesc != null" >
        statistics_desc = #{statisticsDesc,jdbcType=VARCHAR},
      </if>
      <if test="statisticsOrder != null" >
        statistics_order = #{statisticsOrder,jdbcType=INTEGER},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.br.marketing.entity.ReportStatisticsScore" >
    update b_report_statistics_score
    set report_id = #{reportId,jdbcType=BIGINT},
      report_rule = #{reportRule,jdbcType=VARCHAR},
      batch_number_list = #{batchNumberList,jdbcType=VARCHAR},
      field_x = #{fieldX,jdbcType=VARCHAR},
      field_y = #{fieldY,jdbcType=VARCHAR},
      field_x_range = #{fieldXRange,jdbcType=VARCHAR},
      field_y_range = #{fieldYRange,jdbcType=VARCHAR},
      report_score_type = #{reportScoreType,jdbcType=INTEGER},
      `status` = #{status,jdbcType=INTEGER},
      statistics_desc = #{statisticsDesc,jdbcType=VARCHAR},
      statistics_order = #{statisticsOrder,jdbcType=INTEGER},
      is_del = #{isDel,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>