<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.ReportTaskScoreSourceMapper" >

    <insert id="insertBatch" parameterType="list">
        INSERT INTO b_report_task_score_source (
            report_id,
            cid,
            api_code,
            batch_number,
            create_time,
            update_time
        )values
        <foreach collection="list" item="data" separator=",">
            (#{data.reportId,jdbcType=VARCHAR},
            #{data.cid,jdbcType=VARCHAR},
            #{data.apiCode,jdbcType=VARCHAR},
            #{data.batchNumber,jdbcType=VARCHAR},
            #{data.createTime,jdbcType=TIMESTAMP},
            #{data.updateTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

</mapper>