<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.ScoreRuleConfigMapper">

    <select id="findList" resultType="com.br.marketing.vo.ScoreRuleConfigPageVO">
        select src.id
        , src.rule_name as ruleName
        , src.rule_name_short as ruleNameShort
        , src.strategy_product_json as strategyProductJson
        , src.base_info as baseInfo
        , src.exec_type as execType
        , src.cycle_day as cycleDay
        , src.cycle_end_day as cycleEndDay
        , src.task_type as taskType
        , src.product_info as productInfo
        , src.is_online as isOnline
        , src.priority as priority
        , bmc.cid
        , bmc.api_code
        , case src.status
        when 1 then '开启'
        when 2 then '禁用'
        when 3 then '开启中'
        else '-' end as status
        , DATE_FORMAT(src.create_time,'%Y-%m-%d %H:%i:%s') as createTime
        , DATE_FORMAT(src.update_time,'%Y-%m-%d %H:%i:%s') as updateTime
        , bcr.id as crId
        from b_score_rule_config src
        left join b_customer_rule bcr on src.id = bcr.rule_id
        left join b_marketing_customer bmc on bcr.customer_id = bmc.id
        <where>
            src.is_del=1
            <if test="search != null and search.trim() neq ''">
                and (src.rule_name like CONCAT('%',#{search},'%')
                or src.rule_name_short like CONCAT('%',#{search},'%')
                or bmc.cid like CONCAT('%',#{search},'%')
                or bmc.api_code like CONCAT('%',#{search},'%'))
            </if>
            <if test="status != null">
                and src.status=#{status}
            </if>
            <if test="cts != null and cts.trim() neq ''">
                and
                <!--                 date_format(src.create_time,'%Y-%m-%d %H:%i:%s') &gt;= str_to_date(#{cts},'%Y-%m-%d %H:%i:%s') -->
                date_format(src.create_time,'%Y-%m-%d') &gt;= str_to_date(#{cts},'%Y-%m-%d')
            </if>
            <if test="cte != null and cte.trim() neq ''">
                and
                <!--                 date_format(src.create_time,'%Y-%m-%d %H:%i:%s') &lt;= str_to_date(#{cte},'%Y-%m-%d %H:%i:%s') -->
                date_format(src.create_time,'%Y-%m-%d') &lt;= str_to_date(#{cte},'%Y-%m-%d')
            </if>
            <if test="uts != null and uts.trim() neq ''">
                and
                <!--                 date_format(src.update_time,'%Y-%m-%d %H:%i:%s') &gt;= str_to_date(#{uts},'%Y-%m-%d %H:%i:%s') -->
                date_format(src.update_time,'%Y-%m-%d') &gt;= str_to_date(#{uts},'%Y-%m-%d')
            </if>
            <if test="ute != null and ute.trim() neq ''">
                and
                <!--                 date_format(src.update_time,'%Y-%m-%d %H:%i:%s') &lt;= str_to_date(#{ute},'%Y-%m-%d %H:%i:%s') -->
                date_format(src.update_time,'%Y-%m-%d') &lt;= str_to_date(#{ute},'%Y-%m-%d')
            </if>
            <if test="execType != null">
                and src.exec_type=#{execType}
            </if>
        </where>
        order by src.update_time desc, src.create_time desc
    </select>

    <select id="getScoreRules" resultType="com.br.marketing.entity.ScoreRuleConfig">
        select src.id
        , src.rule_name as ruleName
        , src.rule_name_short as ruleNameShort
        , src.strategy_id as strategyId
        , src.priority as priority
        , bmc.cid
        , bmc.api_code as apiCode
        , bcr.id as crId
        from b_score_rule_config src
        left join b_customer_rule bcr on src.id = bcr.rule_id
        left join b_marketing_customer bmc on bcr.customer_id = bmc.id
        <where>
            src.is_del=1 and src.status=1
            <if test="apiCode != null and apiCode.trim() neq ''">
                and  bmc.api_code=#{apiCode}
            </if>
        </where>
    </select>
</mapper>