<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.ShuheBlackPhoneRecordMapper">

    <select id="countByPhoneAndDate" resultType="java.lang.Integer">
        select count(*)
        from b_shuhe_black_phone_record
        where phone = #{phone}
        and push_date = #{pushDate}
    </select>

</mapper>