<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.StraHisFileMapper" >

    <select id="getExtendInfosByFileIds" resultType="com.br.marketing.vo.TaskExtendInfoVO">
        select shf.id as fileId, bmte.cus_task_id as cusTaskId ,bmte.group_type as groupType,bmte.upload_time as uploadTime
            from stra_his_file shf
            left join b_marketing_task bmt on shf.batch_number = bmt.batch_number
            left join b_marketing_task_extend bmte on bmte.task_id = bmt.id
        WHERE shf.id in
              <foreach collection="fileIds" open="(" separator="," close=")" item="fileId">
                #{fileId}
              </foreach>
    </select>

    <select id="getFileByRule" resultType="com.br.marketing.entity.StraHisFile">
        select shf.*
        from stra_his_file shf
        left join b_marketing_task btbp on shf.batch_number = btbp.batch_number
        left join b_marketing_task_extend bmte on btbp.id = bmte.task_id
        left join b_score_rule_config bsrc on bsrc.id = bmte.rule_id
        where shf.create_time >=#{time}
        <if test="ruleNumber!=null and ruleNumber!=''">
            and bsrc.rule_name_short =#{ruleNumber}
        </if>
        and shf.push_status!=1 order by shf.create_time desc limit 1
    </select>
</mapper>