<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.TcyrCpaDeleteRuleMapper" >

    <select id="calculateDeleteNumByScript" resultType="java.lang.Integer">
        select count(distinct(user_key)) from (${executeScript}) as temp
    </select>

    <select id="executeUnionQueries" resultType="java.lang.Integer">
        SELECT count(distinct_value) as total_sum FROM (
        SELECT DISTINCT user_key as distinct_value FROM (
        <foreach collection="scripts" item="script" separator=" UNION ALL ">
            (${script})
        </foreach>
        ) as union_result
        ) as distinct_result
    </select>

</mapper>