<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.TcyrCpaBlankDataMapper">

    <insert id="batchInsertIgnore">
        INSERT IGNORE INTO b_tcyr_cpa_blank_data (task_id, user_key, extend, is_del)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.taskId}, #{item.userKey}, #{item.extend}, #{item.isDel})
        </foreach>
    </insert>

</mapper>
