<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.WubaCollidingDataRobMapper" >
    <insert id="batchSaveData" >
        INSERT INTO b_wuba_colliding_data_rob (cell)
        VALUES
        <foreach collection="robs" item="item" separator=",">
            (#{item.cell})
        </foreach>
    </insert>

    <select id="selectCollidingData" resultType="com.br.marketing.entity.WubaCollidingDataRob">
        select id, cell from b_wuba_colliding_data_rob
        where is_delete = 0 and push_time is null limit #{pageSize}
    </select>

    <update id="batchUpdatePushTimeById">
        update b_wuba_colliding_data_rob set push_time = now()
        where id in
        <foreach collection="robs" item="rob" open="(" close=")" separator=",">
            #{rob.id}
        </foreach>
    </update>
</mapper>