<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.XieChengSmsCollidingDataMapper" >


    <select id="selectByLocalId" resultType="com.br.marketing.entity.XieChengSmsCollidingData">
        select
        *
        from b_xiecheng_sms_colliding_data
        where  status =1  and local_id = #{localId}
        <choose>
            <when test="endTime != null and endTime!=''">
                <![CDATA[   and next_push_time <= #{endTime}  ]]>
            </when>
            <otherwise>
                <![CDATA[   and next_push_time <=> null  ]]>
            </otherwise>
        </choose>
        <if test="minId != null and minId>0">
            and id > #{minId}
        </if>
        order by id asc limit 15000;
    </select>

    <select id="selectByLocalIdVt" resultType="com.br.marketing.entity.XieChengSmsCollidingDataVt">
        select
        dvt.id,dvt.api_code,dvt.local_id,dvt.sha256_code_list
        from b_xiecheng_sms_colliding_data_vt dvt
        left join b_xiecheng_sms_colliding_data_log_vt dlvt
        on dvt.sha256_code_list = dlvt.sha256_code_list
        where dvt.status =1  and dvt.local_id = #{localId}
        and dlvt.send_date =#{sendDate} and dlvt.id is null
        order by dvt.id asc limit 15000;
    </select>
    <update id="updateBatch">
        update b_xiecheng_sms_colliding_data set next_push_time = now() where sha256_code_list in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>


</mapper>