<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.XieChengCollidingDataRobMapper" >
    <select id="selectDeleteData" resultType="com.br.marketing.entity.XieChengCollidingDataRob">
        select
            *
        from b_xiecheng_colliding_data_rob
        where is_delete = 1
            <![CDATA[ and update_time < #{startTime}]]>
        order by update_time asc limit #{size};
    </select>

    <delete id="deleteByIdList">
        delete from b_xiecheng_colliding_data_rob
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        limit #{size};
    </delete>
    <update id="updateOnBatchToIsDeleted">
        batch on id limit 500000
        update b_xiecheng_colliding_data_rob set is_delete = 1 where is_delete =0
    </update>

    <insert id="saveBatch" parameterType="list">
        insert into b_xiecheng_colliding_data_rob (package_id,data_source_type, cell_sha256_code_list,
        create_time,update_time)values
        <foreach collection="list" item="data" separator=",">
            (#{data.packageId},#{data.dataSourceType}, #{data.cellSha256CodeList},
            now(),now()
            )
        </foreach>
    </insert>
</mapper>