<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.XieChengCollidingDataLoopCycleMapper" >
    <select id="selectCycleDataByReleaseTime" resultType="com.br.marketing.entity.XieChengCollidingDataLoopCycle">
        select
        id, cell_sha256_code_list, package_id
        from b_xiecheng_colliding_data_loop_cycle
        where is_delete = 0 and retry_count = 0
        <![CDATA[ and release_time > #{startDate} and release_time < #{endDate}]]>
        <if test="minId != null and minId>0">
            and id > #{minId}
        </if>
        order by id limit #{pageSize};
    </select>

    <select id="selectCycleByRetryCount" resultType="com.br.marketing.entity.XieChengCollidingDataLoopCycle">
        select
        id, cell_sha256_code_list, package_id
        from b_xiecheng_colliding_data_loop_cycle
        where is_delete = 0
        <if test="isLast != null and isLast">
            and retry_count = 3
        </if>
        <if test="isLast != null and !isLast">
            <![CDATA[ and retry_count > 0 and retry_count < 3]]>
        </if>
        <if test="minId != null and minId>0">
            and id > #{minId}
        </if>
        order by id asc limit #{pageSize};
    </select>

    <select id="selectPerMinuteCountstiflash_" resultType="java.util.Map">
        select DATE_FORMAT(release_time, '%Y-%m-%d %H:%i') as releaseTime, count(*) as counts
        from b_xiecheng_colliding_data_loop_cycle
        where DATE_FORMAT(release_time, '%Y-%m-%d') = curdate()
          and is_delete = 0
        group by DATE_FORMAT(release_time, '%Y-%m-%d %H:%i')
        order by DATE_FORMAT(release_time, '%Y-%m-%d %H:%i');
    </select>

    <select id="selectTodayCycleCount" resultType="java.lang.Integer">
        select count(*) as counts
        from b_xiecheng_colliding_data_loop_cycle
        where (DATE_FORMAT(release_time, '%Y-%m-%d') = curdate()
           OR DATE_FORMAT(release_time, '%Y-%m-%d') = date_add(curdate(), interval 7 day))
            and is_delete = 0;
    </select>
    <select id="selectDeleteData" resultType="com.br.marketing.entity.XieChengCollidingDataLoopCycle">
        select
            *
        from b_xiecheng_colliding_data_loop_cycle
        where is_delete = 1
            <![CDATA[ and push_time < #{startTime}]]>
        limit #{size};
    </select>

    <delete id="deleteByIdList">
        delete from b_xiecheng_colliding_data_loop_cycle
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <update id="updateBatchByIdToIsDeleted">
        update b_xiecheng_colliding_data_loop_cycle set is_delete = 1,update_time = now() ,
                                                        extend = #{rollbackFlag} where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="updateBatchByIdOfRetryCount" parameterType="java.util.List">
        update b_xiecheng_colliding_data_loop_cycle set retry_count = retry_count + 1,update_time = now(),push_time = now() where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="getCollidingRuleTrueList" resultType="com.br.marketing.vo.xiecheng.XiechengCollidingRuleVO">
        select bmc.cid               as cid,
               bmc.api_code          as apiCode,
               bmc.short_name        as shortName,
               '-'                   as packageName,
               '-'                   as discreetNumber,
               count(dlc.id)         AS remainingNumber,
               '0'                   as collidingSwitch,
               '0'                   as priority,
               count(dlc.id)         as collidingBackNumber,
               min(dlc.release_time) as collidingStartTime,
               max(dlc.release_time) as collidingEndTime
        from b_xiecheng_colliding_data_loop_cycle dlc
                 left join b_marketing_customer bmc on bmc.status = 1
        where dlc.is_delete = 0
        <if test="listParam.apiCode != null and listParam.apiCode != ''">
            and bmc.api_code = #{listParam.apiCode}
        </if>
        <if test="listParam.collidingStartTime != null and listParam.collidingStartTime != '' and listParam.collidingEndTime != null and listParam.collidingEndTime != ''">
            AND dlc.release_time BETWEEN #{listParam.collidingStartTime} AND #{listParam.collidingEndTime}
        </if>
        GROUP BY DATE_FORMAT(dlc.release_time, '%Y-%m-%d')
        ORDER BY DATE_FORMAT(dlc.release_time, '%Y-%m-%d')
    </select>

    <select id="selectCycleNumData" resultType="java.util.Map">
        select count(cell_sha256_code_list) as CellNum
        ,max(release_time) as requestEndTime
        ,min(release_time) as requestBeginTime
        from b_xiecheng_colliding_data_loop_cycle
        where is_delete = 0
    </select>


    <select id="selectIdsOfTrueDataProcessTasktikv_" parameterType="java.lang.String" resultType="java.lang.Long">
        select a.id
        from b_xiecheng_colliding_data_loop_cycle a
        left join ( ${queryRuleScoreDataSql} ) b on a.cell_sha256_code_list = b.cell
        where a.is_delete = 0 and b.id is null
        <![CDATA[ and a.release_time >= DATE_ADD(CURDATE(), INTERVAL 1 DAY)
        and a.release_time < DATE_ADD(CURDATE(), INTERVAL 7 DAY) ]]>
        <if test="minId != null and minId>0">
            and a.id > #{minId}
        </if>
        order by a.id limit 2000;
    </select>

    <update id="updateIsDeleteByIds" parameterType="java.util.List">
        update b_xiecheng_colliding_data_loop_cycle
        set is_delete = 1, update_time = now(), extend = #{extend}
        where is_delete = 0
        and id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="selectCycleDataByCondition" resultType="com.br.marketing.entity.XieChengCollidingDataLoopCycle">
        select
        id, cell_sha256_code_list, package_id
        from b_xiecheng_colliding_data_loop_cycle
        where   ${querySql}  and  is_delete = 0 and retry_count = 0
        <if test="minId != null and minId>0">
            and id > #{minId}
        </if>
        order by id limit #{pageSize};
    </select>

</mapper>