<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.XieChengSmsCollidingDataVtMapper" >

    <select id="selectByLocalIdVttikv_" resultType="com.br.marketing.entity.XieChengSmsCollidingDataVt">

        select dvt.* from (
                        SELECT
                            b.*
                              FROM(
                                      SELECT
                                          a.id,
                                          a.api_code,
                                          a.local_id,
                                          a.sha256_code_list,
                                          status,
                                          ROW_NUMBER() over ( PARTITION BY sha256_code_list ORDER BY id asc ) AS rn
                                      FROM
                                          b_xiecheng_sms_colliding_data_vt a
                                      where a.local_id = #{localId} and a.status = 1
                                      order by id asc
                                  ) b where b.rn = 1) dvt
                              LEFT JOIN
                          (select id ,sha256_code_list from b_xiecheng_sms_colliding_data_log_vt where send_date =#{sendDate} and
                                                                                                       local_id = #{localId}) dlvt
                          ON dvt.sha256_code_list = dlvt.sha256_code_list
        WHERE dvt.rn=1 AND dlvt.id IS NULL order by dvt.id asc limit 10000;
    </select>
</mapper>