<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.XieChengBiReportMapper">
    <select id="selectXcDataRatioListbI_" resultType="com.br.marketing.entity.DwsXcDataRatioD">
        select * from dws_xc_data_ratio_d where
          <![CDATA[ report_date >= #{reportDateStart} ]]>
        order by report_date desc
    </select>

    <select id="selectXcColldingDistrubuteDayListbI_" resultType="com.br.marketing.dto.report.xiecheng.XiechengCollidingDailyReportDTO">
        select *
        from dws_xc_collding_distrubute_day_d
        where <![CDATA[ report_date >= #{reportDateStart} and report_date <= #{reportDateEnd} ]]>
    </select>
</mapper>