<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.XieChengRuleScoreRecordMapper">
    <update id="createXieChengScoreTidbTableByBatchNum" parameterType="java.lang.String">
        ${createTidbDDL}
    </update>

    <update id="createXieChengScoreDorisTableByBatchNumdoris_" parameterType="java.lang.String">
        ${createDorisDDL}
    </update>

    <insert id="insertXieChengScoreTidbTable">
        ${insertTidbSql}
    </insert>

    <select id="getXieChengScoreTidbTableCount" resultType="java.lang.Long">
        select count(1) from ${tableName}
    </select>


    <select id="getXieChengDataNumdoris_" resultType="java.lang.Integer">
        ${querySql}
    </select>

    <select id="selectRuleScoreDataExcludeTrueData" resultType="com.br.marketing.entity.XieChengRuleScoreData">
        SELECT id, cell
        FROM (SELECT id,
        cell,
        ROW_NUMBER() OVER (PARTITION BY a.cell ORDER BY a.id) AS row_num
        FROM (${queryRuleScoreDataSql}) AS a
        LEFT JOIN b_xiecheng_colliding_data_loop_cycle AS b ON a.cell = b.cell_sha256_code_list
        WHERE b.id IS NULL) AS t
        WHERE row_num = 1
        <if test="minId != null and minId>0">
            and id > #{minId}
        </if>
        order by t.id
        LIMIT 2000;
    </select>
</mapper>