<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.XieChengSmsCollidingDataVtMapper" >

    <select id="selectByLocalIdVttikv_" resultType="com.br.marketing.entity.XieChengSmsCollidingDataVt">

        select dvt.* from  (
                       select
                           a.sha256_code_list,
                              a.api_code,
                              a.local_id, min(id) as id from b_xiecheng_sms_colliding_data_vt a
                                                        where  a.status =1  and local_id = #{localId}
                                                        and a.id > #{indexId}
                                                        group by a.sha256_code_list
                                                        order by id asc
                       limit #{xieChengSmsCollidingDataVtPageSize}

                   )dvt
                       left join
                   (select id,sha256_code_list from  b_xiecheng_sms_colliding_data_log_vt where    send_date =#{sendDate}) dlvt
                   on dvt.sha256_code_list = dlvt.sha256_code_list
        where dlvt.id is null ;
    </select>
</mapper>