<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.XieChengDataMapper" >

  <select id="selectByLocalId" resultType="com.br.marketing.entity.XieChengData">
    select
    *
    from b_xiecheng_data
    where  status =1 and push_status =1 and local_id = #{localId}
    <if test="minId != null and minId>0">
      and id > #{minId}
    </if>
    order by id asc limit 15000;
  </select>
  <select id="selectLocalIdByNotSend" resultType="java.lang.String">
    select
      local_id
    from b_xiecheng_data
    where  status =1 and push_status =1
    order by id asc limit 10000
  </select>
  <select id="getByCellToday" resultType="com.br.marketing.entity.XieChengData">
    select
      *
    from b_xiecheng_data
    where  status =1 and push_status =2 and sha256_tel = #{cell}
      and api_code in
      <foreach collection="apiCodes" open="(" close=")" item="apiCode" separator=",">
        #{apiCode}
      </foreach>
      and create_time > str_to_date(now(), '%Y-%m-%d')

  </select>

  <select id="getByCellTodayAndLocalId"  resultType="com.br.marketing.entity.XieChengData">
    select
      *
    from b_xiecheng_data
    where  create_date =#{createDate} and local_id not in (2242481,2242482,2272503)
    <if test="minlocalId !=null and minlocalId>0">
      and local_id > #{minlocalId}
    </if>
    order by local_id limit 5000;

  </select>

</mapper>