<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.XieChengSmsCollidingDataLogMapper">


    <select id="selectByCodeAndTime" resultType="com.br.marketing.entity.XieChengSmsCollidingDataLog">
        select *
        from b_xiecheng_sms_colliding_data_log
        where sha256_code_list = #{sha256CodeList}
        <![CDATA[ and create_time >= #{lastTimeDay} and  status = 1 ]]>
        order by create_time desc limit 1;
    </select>

    <insert id="saveBatch" parameterType="list">
        insert into b_phone_sale_extend_info (api_code, cust_num, task_id,
        user_type, applet_date, applet_time,
        status, p_status, create_time,
        update_time, type, dx_type,
        push_dx_time, transform_type, source_id
        )values
        <foreach collection="list" item="data" separator=",">
            (#{data.apiCode,jdbcType=VARCHAR}, #{data.custNum,jdbcType=VARCHAR}, #{data.taskId,jdbcType=VARCHAR},
            #{data.userType,jdbcType=VARCHAR}, #{data.appletDate,jdbcType=VARCHAR}, #{data.appletTime,jdbcType=VARCHAR},
            #{data.status,jdbcType=VARCHAR}, #{data.pStatus,jdbcType=INTEGER}, #{data.createTime,jdbcType=TIMESTAMP},
            #{data.updateTime,jdbcType=TIMESTAMP}, #{data.type,jdbcType=VARCHAR}, #{data.dxType,jdbcType=VARCHAR},
            #{data.pushDxTime,jdbcType=TIMESTAMP}, #{data.transformType,jdbcType=VARCHAR}, #{data.sourceId,jdbcType=BIGINT}
            )
        </foreach>
    </insert>
</mapper>