<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.ZhonganRosterLockingDataMapper">


    <select id="findGroupMobileMd5ListPage" resultType="com.br.marketing.entity.ZhonganRosterLockingData">
        select mobile_md5,biz_date,tag,data_source,local_id from b_zhongan_roster_locking_data
        <where>
            <if test="data.apiCode!=null and data.apiCode!=''">
                api_code='${data.apiCode}'
            </if>
            <if test="data.bizDate!=null and data.bizDate!=''">
                and <![CDATA[biz_date <= '${data.bizDate}']]>
            </if>
            <if test="data.tag!=null and data.tag!=''">
                and tag='${data.tag}'
            </if>
            <if test="data.pushStatus!=null and data.pushStatus!=''">
                and push_status=${data.pushStatus}
            </if>
            and status=1
            group by mobile_md5,biz_date order by mobile_md5,biz_date limit <![CDATA[${pageNo}*${pageSize}]]>
            ,${pageSize}
        </where>
    </select>

    <select id="getMobileMd5ByBeforePushSet" resultType="java.lang.String">
        select mobile_md5 from b_zhongan_roster_locking_data
        <where>
            <if test="apiCode!=null and apiCode!=''">
                api_code='${apiCode}'
            </if>
            <if test="tag!=null and tag!=''">
                and tag='${tag}'
            </if>
            <foreach collection="queries" item="q" separator=" or " open="(" close=")">
                (mobile_md5='${q.mobileMd5}' and
                <![CDATA[biz_date >= '${q.periodOfValidityBO.beginDateStr}']]>
                and <![CDATA[biz_date <= '${q.periodOfValidityBO.enDateStr}']]>)
            </foreach>
            group by mobile_md5 having count(*)>0
        </where>
    </select>

    <update id="updatePushStatus">
        update b_zhongan_roster_locking_data set push_status=${updatePushStatus}, update_time=new()
        where tag='${pushStatus}' and api_code='${apiCode}' and
        <foreach collection="dataList" item="data" separator=" or " open="(" close=")">
            (mobile_md5='${data.mobileMd5}' and biz_date='${data.bizDate}')
        </foreach>
        <if test="pushStatus != null and pushStatus != ''">
            and push_status=${pushStatus}
        </if>
    </update>
</mapper>