<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.ZhongAnCollidingDataLogMapper">

    <select id="countSmsSendSuccess" resultType="int">
        select count(*)
        from b_zhongan_colliding_data_log
        where <![CDATA[ report_date > DATE_SUB(#{bizDate,jdbcType=VARCHAR}, INTERVAL 2 DAY)
          and report_date < #{bizDate,jdbcType=VARCHAR} ]]>
          and sms_send_status = 1
          and cell = #{cellMd5,jdbcType=VARCHAR}
    </select>

    <insert id="batchInsert" parameterType="list">
        INSERT INTO b_zhongan_colliding_data_log (api_code,
                                                  data_source_type,
                                                  cell,
                                                  sms_send_status,
                                                  is_connect,
                                                  extend,
                                                  is_deleted,
                                                  create_time,
                                                  update_time)
        VALUES
        <foreach collection="collidingDataLogList" item="item" separator=",">
            (#{item.apiCode, jdbcType=VARCHAR},
             #{item.dataSourceType, jdbcType=VARCHAR},
             #{item.cell, jdbcType=VARCHAR},
             #{item.smsSendStatus, jdbcType=VARCHAR},
             #{item.isConnect, jdbcType=VARCHAR},
             NULL,
             0,
             NOW(),
             NOW())
        </foreach>
    </insert>
</mapper>