<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.MarketingSyncUserMapper" >
  <resultMap id="BaseResultMap" type="com.br.marketing.entity.MarketingSyncUser" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="api_code" property="apiCode" jdbcType="VARCHAR" />
    <result column="cus_batch" property="cusBatch" jdbcType="VARCHAR" />
    <result column="request_batch" property="requestBatch" jdbcType="VARCHAR" />
    <result column="cust_num" property="custNum" jdbcType="VARCHAR" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="cell" property="cell" jdbcType="VARCHAR" />
    <result column="cell_md5" property="cellMd5" jdbcType="VARCHAR" />
    <result column="cell_sha256" property="cellSha256" jdbcType="VARCHAR" />
    <result column="group_type" property="groupType" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="VARCHAR" />
    <result column="register_date" property="registerDate" jdbcType="VARCHAR" />
    <result column="reserve_field1" property="reserveField1" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="applet_date" property="appletDate" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="fail_type" property="failType" jdbcType="VARCHAR" />
    <result column="applet_time" property="appletTime" jdbcType="TIMESTAMP" />
    <result column="is_task" property="isTask" jdbcType="INTEGER" />
    <result column="task_time" property="taskTime" jdbcType="TIMESTAMP" />
    <result column="is_repeat" property="isRepeat" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.br.marketing.entity.MarketingSyncUser" extends="BaseResultMap" >
    <result column="reserve_field2" property="reserveField2" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, api_code, cus_batch, request_batch, cust_num, id_card, `name`, cell, cell_md5, 
    cell_sha256, group_type, user_type, register_date, reserve_field1, create_time, update_time, 
    applet_date, `status`, fail_type, applet_time, is_task, task_time, is_repeat
  </sql>
  <sql id="Blob_Column_List" >
    reserve_field2
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.br.marketing.entity.MarketingSyncUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from b_marketing_sync_7410787
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.br.marketing.entity.MarketingSyncUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from b_marketing_sync_7410787
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from b_marketing_sync_7410787
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from b_marketing_sync_7410787
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.br.marketing.entity.MarketingSyncUserExample" >
    delete from b_marketing_sync_7410787
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.br.marketing.entity.MarketingSyncUser" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into b_marketing_sync_7410787 (api_code, cus_batch, request_batch, 
      cust_num, id_card, `name`, 
      cell, cell_md5, cell_sha256, 
      group_type, user_type, register_date, 
      reserve_field1, create_time, update_time, 
      applet_date, `status`, fail_type, 
      applet_time, is_task, task_time, 
      is_repeat, reserve_field2)
    values (#{apiCode,jdbcType=VARCHAR}, #{cusBatch,jdbcType=VARCHAR}, #{requestBatch,jdbcType=VARCHAR}, 
      #{custNum,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{cell,jdbcType=VARCHAR}, #{cellMd5,jdbcType=VARCHAR}, #{cellSha256,jdbcType=VARCHAR}, 
      #{groupType,jdbcType=VARCHAR}, #{userType,jdbcType=VARCHAR}, #{registerDate,jdbcType=VARCHAR}, 
      #{reserveField1,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{appletDate,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{failType,jdbcType=VARCHAR}, 
      #{appletTime,jdbcType=TIMESTAMP}, #{isTask,jdbcType=INTEGER}, #{taskTime,jdbcType=TIMESTAMP}, 
      #{isRepeat,jdbcType=INTEGER}, #{reserveField2,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.br.marketing.entity.MarketingSyncUser" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into b_marketing_sync_7410787
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="apiCode != null" >
        api_code,
      </if>
      <if test="cusBatch != null" >
        cus_batch,
      </if>
      <if test="requestBatch != null" >
        request_batch,
      </if>
      <if test="custNum != null" >
        cust_num,
      </if>
      <if test="idCard != null" >
        id_card,
      </if>
      <if test="name != null" >
        `name`,
      </if>
      <if test="cell != null" >
        cell,
      </if>
      <if test="cellMd5 != null" >
        cell_md5,
      </if>
      <if test="cellSha256 != null" >
        cell_sha256,
      </if>
      <if test="groupType != null" >
        group_type,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="registerDate != null" >
        register_date,
      </if>
      <if test="reserveField1 != null" >
        reserve_field1,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="appletDate != null" >
        applet_date,
      </if>
      <if test="status != null" >
        `status`,
      </if>
      <if test="failType != null" >
        fail_type,
      </if>
      <if test="appletTime != null" >
        applet_time,
      </if>
      <if test="isTask != null" >
        is_task,
      </if>
      <if test="taskTime != null" >
        task_time,
      </if>
      <if test="isRepeat != null" >
        is_repeat,
      </if>
      <if test="reserveField2 != null" >
        reserve_field2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="apiCode != null" >
        #{apiCode,jdbcType=VARCHAR},
      </if>
      <if test="cusBatch != null" >
        #{cusBatch,jdbcType=VARCHAR},
      </if>
      <if test="requestBatch != null" >
        #{requestBatch,jdbcType=VARCHAR},
      </if>
      <if test="custNum != null" >
        #{custNum,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="cell != null" >
        #{cell,jdbcType=VARCHAR},
      </if>
      <if test="cellMd5 != null" >
        #{cellMd5,jdbcType=VARCHAR},
      </if>
      <if test="cellSha256 != null" >
        #{cellSha256,jdbcType=VARCHAR},
      </if>
      <if test="groupType != null" >
        #{groupType,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="registerDate != null" >
        #{registerDate,jdbcType=VARCHAR},
      </if>
      <if test="reserveField1 != null" >
        #{reserveField1,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appletDate != null" >
        #{appletDate,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="failType != null" >
        #{failType,jdbcType=VARCHAR},
      </if>
      <if test="appletTime != null" >
        #{appletTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isTask != null" >
        #{isTask,jdbcType=INTEGER},
      </if>
      <if test="taskTime != null" >
        #{taskTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isRepeat != null" >
        #{isRepeat,jdbcType=INTEGER},
      </if>
      <if test="reserveField2 != null" >
        #{reserveField2,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.br.marketing.entity.MarketingSyncUserExample" resultType="java.lang.Integer" >
    select count(*) from b_marketing_sync_7410787
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update b_marketing_sync_7410787
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.apiCode != null" >
        api_code = #{record.apiCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cusBatch != null" >
        cus_batch = #{record.cusBatch,jdbcType=VARCHAR},
      </if>
      <if test="record.requestBatch != null" >
        request_batch = #{record.requestBatch,jdbcType=VARCHAR},
      </if>
      <if test="record.custNum != null" >
        cust_num = #{record.custNum,jdbcType=VARCHAR},
      </if>
      <if test="record.idCard != null" >
        id_card = #{record.idCard,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        `name` = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.cell != null" >
        cell = #{record.cell,jdbcType=VARCHAR},
      </if>
      <if test="record.cellMd5 != null" >
        cell_md5 = #{record.cellMd5,jdbcType=VARCHAR},
      </if>
      <if test="record.cellSha256 != null" >
        cell_sha256 = #{record.cellSha256,jdbcType=VARCHAR},
      </if>
      <if test="record.groupType != null" >
        group_type = #{record.groupType,jdbcType=VARCHAR},
      </if>
      <if test="record.userType != null" >
        user_type = #{record.userType,jdbcType=VARCHAR},
      </if>
      <if test="record.registerDate != null" >
        register_date = #{record.registerDate,jdbcType=VARCHAR},
      </if>
      <if test="record.reserveField1 != null" >
        reserve_field1 = #{record.reserveField1,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.appletDate != null" >
        applet_date = #{record.appletDate,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        `status` = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.failType != null" >
        fail_type = #{record.failType,jdbcType=VARCHAR},
      </if>
      <if test="record.appletTime != null" >
        applet_time = #{record.appletTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isTask != null" >
        is_task = #{record.isTask,jdbcType=INTEGER},
      </if>
      <if test="record.taskTime != null" >
        task_time = #{record.taskTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isRepeat != null" >
        is_repeat = #{record.isRepeat,jdbcType=INTEGER},
      </if>
      <if test="record.reserveField2 != null" >
        reserve_field2 = #{record.reserveField2,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update b_marketing_sync_7410787
    set id = #{record.id,jdbcType=BIGINT},
      api_code = #{record.apiCode,jdbcType=VARCHAR},
      cus_batch = #{record.cusBatch,jdbcType=VARCHAR},
      request_batch = #{record.requestBatch,jdbcType=VARCHAR},
      cust_num = #{record.custNum,jdbcType=VARCHAR},
      id_card = #{record.idCard,jdbcType=VARCHAR},
      `name` = #{record.name,jdbcType=VARCHAR},
      cell = #{record.cell,jdbcType=VARCHAR},
      cell_md5 = #{record.cellMd5,jdbcType=VARCHAR},
      cell_sha256 = #{record.cellSha256,jdbcType=VARCHAR},
      group_type = #{record.groupType,jdbcType=VARCHAR},
      user_type = #{record.userType,jdbcType=VARCHAR},
      register_date = #{record.registerDate,jdbcType=VARCHAR},
      reserve_field1 = #{record.reserveField1,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      applet_date = #{record.appletDate,jdbcType=VARCHAR},
      `status` = #{record.status,jdbcType=INTEGER},
      fail_type = #{record.failType,jdbcType=VARCHAR},
      applet_time = #{record.appletTime,jdbcType=TIMESTAMP},
      is_task = #{record.isTask,jdbcType=INTEGER},
      task_time = #{record.taskTime,jdbcType=TIMESTAMP},
      is_repeat = #{record.isRepeat,jdbcType=INTEGER},
      reserve_field2 = #{record.reserveField2,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update b_marketing_sync_7410787
    set id = #{record.id,jdbcType=BIGINT},
      api_code = #{record.apiCode,jdbcType=VARCHAR},
      cus_batch = #{record.cusBatch,jdbcType=VARCHAR},
      request_batch = #{record.requestBatch,jdbcType=VARCHAR},
      cust_num = #{record.custNum,jdbcType=VARCHAR},
      id_card = #{record.idCard,jdbcType=VARCHAR},
      `name` = #{record.name,jdbcType=VARCHAR},
      cell = #{record.cell,jdbcType=VARCHAR},
      cell_md5 = #{record.cellMd5,jdbcType=VARCHAR},
      cell_sha256 = #{record.cellSha256,jdbcType=VARCHAR},
      group_type = #{record.groupType,jdbcType=VARCHAR},
      user_type = #{record.userType,jdbcType=VARCHAR},
      register_date = #{record.registerDate,jdbcType=VARCHAR},
      reserve_field1 = #{record.reserveField1,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      applet_date = #{record.appletDate,jdbcType=VARCHAR},
      `status` = #{record.status,jdbcType=INTEGER},
      fail_type = #{record.failType,jdbcType=VARCHAR},
      applet_time = #{record.appletTime,jdbcType=TIMESTAMP},
      is_task = #{record.isTask,jdbcType=INTEGER},
      task_time = #{record.taskTime,jdbcType=TIMESTAMP},
      is_repeat = #{record.isRepeat,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.br.marketing.entity.MarketingSyncUser" >
    update b_marketing_sync_7410787
    <set >
      <if test="apiCode != null" >
        api_code = #{apiCode,jdbcType=VARCHAR},
      </if>
      <if test="cusBatch != null" >
        cus_batch = #{cusBatch,jdbcType=VARCHAR},
      </if>
      <if test="requestBatch != null" >
        request_batch = #{requestBatch,jdbcType=VARCHAR},
      </if>
      <if test="custNum != null" >
        cust_num = #{custNum,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="cell != null" >
        cell = #{cell,jdbcType=VARCHAR},
      </if>
      <if test="cellMd5 != null" >
        cell_md5 = #{cellMd5,jdbcType=VARCHAR},
      </if>
      <if test="cellSha256 != null" >
        cell_sha256 = #{cellSha256,jdbcType=VARCHAR},
      </if>
      <if test="groupType != null" >
        group_type = #{groupType,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="registerDate != null" >
        register_date = #{registerDate,jdbcType=VARCHAR},
      </if>
      <if test="reserveField1 != null" >
        reserve_field1 = #{reserveField1,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appletDate != null" >
        applet_date = #{appletDate,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="failType != null" >
        fail_type = #{failType,jdbcType=VARCHAR},
      </if>
      <if test="appletTime != null" >
        applet_time = #{appletTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isTask != null" >
        is_task = #{isTask,jdbcType=INTEGER},
      </if>
      <if test="taskTime != null" >
        task_time = #{taskTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isRepeat != null" >
        is_repeat = #{isRepeat,jdbcType=INTEGER},
      </if>
      <if test="reserveField2 != null" >
        reserve_field2 = #{reserveField2,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.br.marketing.entity.MarketingSyncUser" >
    update b_marketing_sync_7410787
    set api_code = #{apiCode,jdbcType=VARCHAR},
      cus_batch = #{cusBatch,jdbcType=VARCHAR},
      request_batch = #{requestBatch,jdbcType=VARCHAR},
      cust_num = #{custNum,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      cell = #{cell,jdbcType=VARCHAR},
      cell_md5 = #{cellMd5,jdbcType=VARCHAR},
      cell_sha256 = #{cellSha256,jdbcType=VARCHAR},
      group_type = #{groupType,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=VARCHAR},
      register_date = #{registerDate,jdbcType=VARCHAR},
      reserve_field1 = #{reserveField1,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      applet_date = #{appletDate,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      fail_type = #{failType,jdbcType=VARCHAR},
      applet_time = #{appletTime,jdbcType=TIMESTAMP},
      is_task = #{isTask,jdbcType=INTEGER},
      task_time = #{taskTime,jdbcType=TIMESTAMP},
      is_repeat = #{isRepeat,jdbcType=INTEGER},
      reserve_field2 = #{reserveField2,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.br.marketing.entity.MarketingSyncUser" >
    update b_marketing_sync_7410787
    set api_code = #{apiCode,jdbcType=VARCHAR},
      cus_batch = #{cusBatch,jdbcType=VARCHAR},
      request_batch = #{requestBatch,jdbcType=VARCHAR},
      cust_num = #{custNum,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      cell = #{cell,jdbcType=VARCHAR},
      cell_md5 = #{cellMd5,jdbcType=VARCHAR},
      cell_sha256 = #{cellSha256,jdbcType=VARCHAR},
      group_type = #{groupType,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=VARCHAR},
      register_date = #{registerDate,jdbcType=VARCHAR},
      reserve_field1 = #{reserveField1,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      applet_date = #{appletDate,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      fail_type = #{failType,jdbcType=VARCHAR},
      applet_time = #{appletTime,jdbcType=TIMESTAMP},
      is_task = #{isTask,jdbcType=INTEGER},
      task_time = #{taskTime,jdbcType=TIMESTAMP},
      is_repeat = #{isRepeat,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>